[flake8]
# E203: whitespace before ':' - conflicts with black's formatting of slice notation
# W503: line break before binary operator - conflicts with black
extend-ignore = E203, W503
max-line-length = 120
